/* html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
} */

.app {
  background-color: #cb0042;
  padding: 1.5em;
  width: 350px;
  min-height: 75vh;
  border-radius: 5px;
}

.logo {
  height: 1.8em;
  width: auto;
  margin-bottom: 1em;
}

.display {
  background-color: #36454f;
  padding: 1em;
  color: white;
  text-align: right;
  text-indent: 10px;
  border-radius: 25px;
}

.buttons-container {
  padding-top: 20px;
  height: 60vh;
  display: flex;
  /* justify-content: space-around; */
}

.left-container {
  /* display: flex; */
  width: 66%;
  /* flex-direction: column; */
}

.right-container {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.left-bottom {
  display: flex;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
  margin: 15px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
